
/* INDEX LETTERS AT TOP OF PAGE */
.siteindex-alpha-index {
  margin-bottom: 1em;
}
.siteindex-chosen-letter,
.siteindex-letter {
  font-size: 1.25em;
  margin-right: .5em;
}
.siteindex-chosen-letter {
  font-weight: bold;
}

/* INDEX SECTION LISTINGS */
.siteindex-section-letter {
  font-weight: bold;
  font-size: 1.5em;
}
.item-list .siteindex-section {
  margin-left: 1em;
}
.siteindex-heading,
.siteindex-entry,
.siteindex-show-all {
  font-size: 1em;
  margin: .25em 0;
}
.siteindex-heading {
  font-weight: bold;
}
.siteindex-show-all {
  font-style: italic;
  margin-top: 1em;
}
